<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reservation Successful</h1>
    <p>Thank you for making a reservation.</p>
    <p>Reservation details:</p>
    <ul>
      <li>Name: {{ reservation.name }}</li>
      <li>Date: {{ reservation.date }}</li>
      <li>Time: {{ reservation.time }}</li>
      <li>Number of Guests: {{ reservation.guests }}</li>
    </ul>
  
</body>
</html>